{{define "content"}}
  <main class="px-3">
    <h1>{{.Title}}</h1>
    <p class="lead">{{.Content}}</p>
    <p class="lead">
      <a class="btn btn-lg btn-secondary fw-bold border-white bg-white" href="/">Go back</a>
    </p>
  </main>
{{end}}
